<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/Frankie-Merckelbach"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/frankie_merckelbach/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/frankie.merckelbach"><i class="fab fa-facebook"></i></a>
    <a href="https://www.linkedin.com/in/frankie-merckelbach-51919a58/"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This is the footer <i class="fas fa-heart"></i>
  </div>
</div>
