<div class="home-banner">
  <h1>Hello, I'm Frankie Merckelbach</h1>
  <p>
  <span id="banner-typed-text"></span>
</p>
</div>

<div class="container">
      <h1>Le Wagon brings tech skills to creative people!</h1>
      <p>Change your life and learn to code at one of our campuses around the world.</p>
      <a class="btn-primary" href="#">Apply now!</a>
    </div>

<div class="container">
  <div class="row justify-content-center">
   <div class="container">
    <h2 class="text-center">How it works</h2>
    <div class="cards">

      <div class="card">
        <img src="images/apply.svg" alt="">
        <h4>Apply</h4>
        <p>First apply to one of our campuses around the world.</p>
      </div>

      <div class="card">
        <img src="images/learn.svg" alt="">
        <h4>Learn to code</h4>
        <p>Learn Ruby on Rails, Javascript, SQL &amp; much more!</p>
      </div>

      <div class="card">
        <img src="images/product.svg" alt="">
        <h4>Build products</h4>
        <p>Finally you will be able to bring your ideas to life.</p>
      </div>

    </div>
  </div>
  </div>
</div>



<!--
 The contact after action is your param call, it will store information
 for you to use when you call the param in the controller -->
