.navbar {
  justify-content: space-between;
  padding: 16px;
  background: #F4F4F4;
  display: flex;
  align-items: center;
  height: 100px;

}

.navbar-lewagon {
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;

}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

